<div class="container" id="welcome">
  <div class="main">
    <p>Hello, I am Sam and I have 10+ years of quality assurance experience</p>
    <a class="btn btn-primary" href="portfolio" role="button">View my Work</a>
  </div>
</div>
