<div class="container" id="portfolio">
  <div class="main">
    <p>Here are some of my projects: TBD... </p>
    <div class="container text-center">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
        <div class="col">Mixtape</div>
          <p> This project displays the use of React Context. You can filter a list of provided songs by genre and sort them by ascending/descending order.</p>
          <p>
            <a href="https://github.com/samanthas/Hooks/tree/main/mixtape"Go to Github Project</a>
          </p>
        <div class="col">Column</div>
        <div class="col">Column</div>
      </div>
    </div>
  </div>
</div>