<div class="container" id="portfolio">
  <div class="main">
    <h1>About Me</h1>
    <h2>Professional</h2>
      <p> I am a Senior Software Engineer in Test with 10+ years of Quality Assurance experience. I've worn many hats
          throughout the years working in the following industries: IT, Security, Shipping and Finance. I go from working on
          the most "mundane" tasks like writing documentation and test cases on TestRail to introducing QA methodologies and 
          building healthy deployment processes. My primary tools have been Ruby, Capybara/RSpec and TestRail but I have worked with other 
          automation tools like PlayWright and Cucumber/Gherkin. 
      </p>
      <p> I am currently looking for my first full time dev role, preferably Ruby. This website is one of my first stabs at Ruby on Rails and frontend development :) I am open to other 
          stacks as well and am a fast self-learner. I feel I have reached the top of the mountain 
          in my current discipline and want to expand into other types of problem solving. Keep work-life interesting.
      </p>
      <p> Before you ask about the 3 months I was out of work in 2021, do note I took a personal sabbatical. I spent 2020-2021 caregiving fulltime for my mom who was diagnosed with 
          cholangiocarcinoma while working a very demanding fulltime job. I needed time for myself and my mental health.  
      </p>
      <p> You can check out my experience on my <a href="https://www.linkedin.com/in/salinassamantha">LinkedIn</a> page or you can send me a resume request 
          via the <a href=contact>Contact</a> page
      </p>
    <h2>Personal</h2>
      <p> I\'m an INTJ with a creative mind. I graduated from The University of Texas at Austin with a BS in Computer Science and still reside in Austin, TX with my two cats, Gracie and Sir Whiskers. 
          When I\'m not chilling with my cats I\'m usually learning something new. Currently I am learning about Machine Learning and Python.
          Outside of tech I enjoy writing and hope to someday publish a book! I\'m always listening to music so hit me up 
          with your favorite bands. My other hobbies include scrapbooking, drawing, planning, yoga, meditation, pilates... yes I\'m a pretty chill person ^_^ I also start off my 
          mornings with a sudoku puzzle. 
  </div>
</div>